auto-save-list/*
bookmarks
.chicken-scheme-symbols-dump.el
session*
smex-items
temp/*
ac-*.data
*.dat
*~
recentf
*.last
elpa/*
/.mc-lists.el
/tramp
*.data
*.orig
*REMOTE*
*LOCAL*
*BACKUP*
*BASE*
transient/
server/
.#*
projectile-*.eld